@import mixins
@import variables
body
    font-family "Verdana"
    font-size 14px
    color #fff
ul,
li
    display inline-block
*:focus
    outline none

.main-wrap
    width 100%


.center
    width 1200px
    margin auto

    section
        display block
        width 100%

.logo-wrap
    display block
    text-align center
    text-decoration none
    margin-bottom 100px

.logo,
.logo-desk
    display block
    color #fff
    font-family "Tahoma"


.fs1
    font-size txt18
    font-weight 700
    text-align right
    color #fff

.fs2
    font-size txt50
    font-weight 900
    font-family "Tahoma"
.fs3
    font-size txt15
    fony-weight 100
        font-family "Tahoma"
    
.fs4
    text-align center
    fony-weight 100
    font-size txt30

.fs5
    text-align center
    fony-weight 700
    font-size txt20
    text-transform uppercase

.fs6
    font-weight 900
    font-size txt25
    text-align center
    text-transform uppercase

.fs7
    font-weight 100
    font-size txt20
    text-transform uppercase

.fs8
    font-weight 900
    font-size txt70
    font-family "Tahoma"
    margin 0
.fs9
    font-weight 700
    font-size txt18
    font-family "Tahoma"
    text-transform uppercase

.fs10
    font-weight 100
    text-align center
    font-size txt25
    margin 50px 0

.fs11
    font-weight 100
    font-size txt30
    margin 50px 0
    text-transform uppercase


.db
    color db


.sec1
    background url(../../img/bg1.png) 0 0 no-repeat
    
.sec2
    background-color #00455E
    
.sec3
    background-color cb

.sec4
    background url(../../img/bg2.jpg) 0 0 no-repeat

.sec5
    background db url(../../img/bg1.png) center center no-repeat
    background-size 100% auto

.sec1,
.sec4
    background-size cover
    background-position center top
.ylw
    color ylw




.mt100
    margin-top 100px
.mt50
    margin-top 50px
.vp
    padding 100px 0



// .tel
//     margin-bottom 50px

.title
    margin 0

.btn-wrap
    text-align center
    // margin-bottom 200px

.btn   
    display inline-block
    width 215px
    height 82px
    box-sizing border-box
    border-radius 10px
    border 4px solid #fff
    background-color rgba(255,255,255, .3)
    font-size txt17
    font-family verdana 
    font-weight 100
    margin 0 50px

.row
    flex()
    justify-content space-around
    .cell1_2,
    .cell1_3
        display inline-block
        text-align center
        
    .cell1_3
        width (100/3)%
        .txt
            text-align center
            text-transform uppercase
            font-size 19px
            line-height 25px
            
    .cell1_2
        width 50%
    &.v1
        .cell1_2:first-child
            text-align right
            .img
                float right
        .cell1_2:last-child
            text-align left
            .img
                float left
        .img
            width 25%
            display inline-block
            height 150px
        .txt
            width 75%
            display inline-block
    &.v2
        .img
            width 100%
            display inline-block
            height 140px
            -webkit-mask-size: 100% 100%;
.ylw
    color ylw
    .img
        background-color: ylw
    .list-benefits
        color ylw
        li:after
            background-color ylw
    .btn
        background rgba(255,193,7,.5)
        border-color ylw
        color #fff
        &:hover
            background rgba(255,193,7,1)
.gr
    .img
        background-color: gr
    .list-benefits
        color gr
        li:after
            background-color gr
    .btn
        background rgba(207,216,220,.5)
        border-color gr
        color #fff
        &:hover
            background rgba(207,216,220,1)


.ylwh>div
    &:hover
        color hovery
        .img
            background-color hovery
        // .txt
        //     color hovery



.rocket
    -webkit-mask-image: url(../../img/rocket.svg)
    // background url(../../img/rocket.svg) 0 0 no-repeat
        
.levin
    -webkit-mask-image: url(../../img/levin.svg)
    // -webkit-mask-size auto 60%

.star
    -webkit-mask-image: url(../../img/star.svg)

.lamp
    -webkit-mask-image: url(../../img/lamp.svg)


.gears
    -webkit-mask-image: url(../../img/gears.svg)
    // background url(../../img/rocket.svg) 0 0 no-repeat
        
.humans
    -webkit-mask-image: url(../../img/humans.svg)
    // -webkit-mask-size auto 60%

.kit
    -webkit-mask-image: url(../../img/kit.svg)


.mike
    -webkit-mask-image: url(../../img/mike.svg)

.pig
    -webkit-mask-image: url(../../img/pig.svg)

.clock
    -webkit-mask-image: url(../../img/clock.svg)



.rocket,
.levin,
.star
    width 70%
    height 170px

.lamp
    width 50%
    height 130px

.gears,
.humans,
.kit,
.mike
    height 100px
    -webkit-mask-size: 60% 50%;

.rocket,
.levin,
.star,
.lamp,
.gears,
.humans,
.kit,
.mike,
.pig,
.clock
    margin auto
    -webkit-mask-repeat no-repeat
    -webkit-mask-position center center
    background-color #fff





.list-benefits
    display block
    li
        display block
        font-size txt18
        display block
        margin-bottom 60px
        position relative
        &:after
            content ""
            width 10px
            height 10px
            // background-color: #FFF
            border-radius 10px
            hcenter()
            bottom -30px
        &:last-child:after
            display none
            

.app-form
    text-align center
    vertical-align bottom
    input
        vertical-align bottom
        width 250px
        height 82px
        color cb
        border 3px solid cb
        border-radius 10px
        padding 0 10px
        box-sizing border-box
        margin 0 10px
        text-align center
    .btn
        margin 0 30px