@media screen and (min-width: 1200px)
    .center
        width 1200px
@media (max-width: 1280px)
    body
        font-size 11px
    .vp
        padding 50px 0
    .vtp
        padding-top 50px

@media (max-width 980px)
    body
        font-size 10px
    .morph-button-fixed .morph-content,
    .morph-button-fixed
        width: 25%

@media (max-width 780px)
    body
        font-size 9px
    .row
        &.v3
            justify-content center
            flex-direction: column
            margin: 0
            .img
                width 10%
                height 90px
            .cell1_2
                width 100%
        &.v0
            .img
                width 60%
                height 100px
    .btn-wrap .morph-button-fixed .morph-content, 
    .btn-wrap .morph-button-fixed
        width 33%