innerText = 10px
txt11 = 1.1em
txt12 = 1.2em
txt13 = 1.3em
txt14 = 1.4em
txt15 = 1.5em
txt16 = 1.6em
txt17 = 1.7em
txt18 = 1.8em
txt19 = 1.9em
txt20 = 2em
txt21 = 2.1em
txt22 = 2.2em
txt23 = 2.3em
txt24 = 2.4em
txt25 = 2.5em
txt26 = 2.6em
txt27 = 2.7em
txt28 = 2.8em
txt29 = 2.9em
txt30 = 3em
txt31 = 3.1em
txt32 = 3.2em
txt38 = 3.8em
txt40 = 4em
txt50 = 5em
txt70 = 7em


hovery = #FFC107
ylw = #FFC107
gr = #CFD8DC
db = #09284C
// cloudy
cb = #455A64